@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {

    min-height: 100vh;

    background:
    linear-gradient(
        135deg,
        #102a56,
        #1e4d91,
        #2765b8
    );

    padding: 50px 20px;

}


/* Kopfbereich */

.hero {

    text-align: center;

    margin-bottom: 60px;

}


.hero h1 {

    color:white;

    font-size:60px;

    font-weight:700;

    text-shadow:
    0 5px 20px rgba(0,0,0,.4);

}


.hero p {

    color:white;

    font-size:22px;

    margin-top:15px;

    opacity:.9;

}


/* Inhalt */

#blocks {

    max-width:900px;

    margin:auto;

}



/* Karten */

.card {

    background:white;

    padding:35px;

    margin-bottom:40px;

    border-radius:25px;

    box-shadow:
    0 20px 50px rgba(0,0,0,.25);

    animation: erscheinen .6s ease;

    transition:.3s;

}


.card:hover {

    transform:translateY(-8px);

}



/* Text */

.text p {

    font-size:20px;

    line-height:1.8;

    color:#333;

}



/* Bilder */

.card img {

    width:100%;

    margin-top:30px;

    border-radius:20px;

    display:block;

    box-shadow:
    0 15px 30px rgba(0,0,0,.2);

    transition:.3s;

}


.card img:hover {

    transform:scale(1.03);

}



/* Animation */

@keyframes erscheinen {

    from {

        opacity:0;

        transform:translateY(30px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}



/* Handy */

@media(max-width:700px){


    body {

        padding:25px 15px;

    }


    .hero h1 {

        font-size:40px;

    }


    .hero p {

        font-size:18px;

    }


    .card {

        padding:25px;

    }


}

button {

    background: linear-gradient(
        135deg,
        #2563eb,
        #1d4ed8
    );

    color:white;

    border:none;

    padding:14px 25px;

    border-radius:14px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    margin:8px;

    box-shadow:
    0 10px 25px rgba(37,99,235,.35);

    transition:.3s;

}


button:hover {

    transform:translateY(-4px);

    box-shadow:
    0 15px 35px rgba(37,99,235,.5);

}


button:active {

    transform:scale(.96);

}

.login-card {

    background:white;

    width:100%;

    max-width:420px;

    margin:120px auto;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:
    0 20px 50px rgba(0,0,0,.25);

}


.login-card h1 {

    color:#1e3a8a;

    font-size:32px;

    margin-bottom:30px;

}


.login-card input {

    margin-bottom:20px;

}

.admin-card {

    background:white;

    max-width:900px;

    margin:40px auto;

    padding:35px;

    border-radius:25px;

    box-shadow:0 20px 50px rgba(0,0,0,.2);

}
